.main-view {
  background-color: #dcdcdc;
  width: 100%;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 150px;
  margin-left: -15px;
}

// .navbar {
//   background-color: #4e4e45;
// }

// .navbar-link {
//   color: white;
//   padding-top: 18px;
// }

// .navbar-link:hover {
//   color: #bdbb98;
// }
