.login-form {
  width: 30%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid black;
  display: inline-block;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 10%;
  background-color: #f8f8ff;
}

body {
  background-color: #dcdcdc;
}
